body {
  background-color: $dark;
}

.char-img {
  width: -webkit-fill-available;
  background-color: darken(purple, 20%);
}

.char-title {
  background: linear-gradient(to top left,
    #0e0b12,
    #20142a
  );
}

.char-faction {
  background-color: $med;
}

.char-faction__img {
  width: 2rem;
  height: 2rem;
}

.char-faction__label {
  text-transform: uppercase;
  font-size: 0.8rem;
}