@import './settings';
@import './base';
@import './char';
@import './home';

.App {
  color: white;
  background-color: $dark;
  font-family: 'Oswald', sans-serif;
  background-image: url('../Assets/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.ardela {
  font-family: 'Ardela Edge', sans-serif;
  font-weight: bolder;
  font-style: italic;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.9);
}